.carrito{
  	border-bottom: 1px solid $amarillo;
		margin: 0px -1px 24px 0px;
		text-align:left;
		width: 70%;

  table{
    width:90%;
    white-space: nowrap;
    table-layout: fixed;
    @include border_radius(10px);
  }

  th {
	font-weight:bold;
    background: $amarillo;
    color:white;
    border:3px solid $amarillo;
	padding: 0 $spacing;
	margin: 0;
    text-align:left;
		}

    .product-remove{
      width:5%;
    }

    .product-thumbnail{
      width:30%;

    }
    .product-name{
      width:30%;
    }
    .product-price{
      width:5%;
    }
    .product-quantity{
      width:20%;

      input{
        width:30%;
      }
    }
    .product-subtotal{
      width:5%;
 
    }
        
    tr{
    	background: white;
	    border-bottom: 1px solid $amarillo;
	     &:nth-child(odd){
		   background: $bg;
	    }
    }

    td{
      padding:0 $spacing;
      
      &.product-subtotal{
	       color:$verde;
      }
      
      &:last-child{
        border-right: none;
      }
    }
    dt{
	    display:inline-block;
	    float:left;
    }


		a.remove {
			display:block;
			font-size:1.5em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 1;
			@include border_radius(100%);
			color: $rojo;
			text-decoration: none;
			font-weight: bold;
		}
    td.actions {
			.coupon {
				.input-text {
          color:$verde;
          border:2px solid $verde;
          @include border-radius (5px);
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					line-height: 1em;
				}
			}
		}
    	input {
			margin: 0;
      width:auto;
			vertical-align: middle;
			line-height: 1em;
		}
  }
.product-thumbnail{
  width:40%;

  img{
    width:100%;
    height:auto !important;
  }
}
